.title
{
	font-size: 25px;
	font-family: 'Julius Sans One';
	color: #002233;
	text-align: center;
}

.titlebox
{
	font-family: 'Satisfy';
	font-size: 25px;
	color: #002233;
	background-color: #ccd5f9;
}