.w3-center{
	text-align:center

}
.w3-content{
	width: 800px;
	height: 500px;
	background-color: #002233;
	margin:auto;

}
.w3-section{
	margin-top:16px;
	margin-bottom:16px;
}
.w3-btn-floating{
	width:40px;
	height:40px;
	line-height:40px;
	padding: 20px;
	top:45%;
	position: absolute;
}
.mySlides
{
	position: relative;
	padding-left: 90px;
	padding-top: 50px;
	

}